/* Style for all help pages for the OpenOffice manual */

b {
	font-weight: bold;
	color: #458;
}

.screenshot {
	border: 1px solid #000;
	margin: 5px 10px 10px 10px;
}	

.screenshotnoborder {
	border: none;
	margin: 5px 10px 10px 10px;
    max-width: 15cm;
}	
	
.icon {
	margin: 5px 10px 10px 10px;
}	

.usertext {
	font-family: "Courier New";
	font-weight: bold;
	color: #458;

}

.code {
	margin-left:10px;
	font-family: "Courier New";
	font-weight: normal;
	color: #000;
	background-color: #f0f4f8;
	border: 1px solid #888;
}

.documenttext {
	margin-left:10px;
	font-size: 17px;
	font-family: Georgia;
	font-weight: normal;
	color: #000;
	background-color: #f0f4f8;
	border: 1px solid #888;
}


.black {
	color: #000;
}

.licenselist {
	font-family: Georgia;
	font-size: 9pt;
	margin-left: 20px;
}

.license{
	font-family: Georgia;
	font-size: 9pt;
}

